<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>app-store-connect</string>
  <key>teamID</key>
  <string>34R325V59A</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.picapool</key>
    <string>222426f2-573a-42bc-a199-e0f309dc3670</string>
  </dict>
  <key>uploadSymbols</key>
  <true/>
  <key>uploadBitcode</key>
  <false/>
  <key>compileBitcode</key>
  <true/>
  <key>destination</key>
  <string>export</string>
</dict>
</plist>