<key>method</key>
<string>app-store-connect</string>
<key>teamID</key>
<string>34R325V59A</string>
<key>provisioningProfiles</key>
<dict>
  <key>com.picapool</key>
  <string>Picapool_AppStore_Profile</string>
</dict>
<key>compileBitcode</key>
<true/>
<key>uploadSymbols</key>
<true/>
<key>signingStyle</key>
<string>manual</string>
